// --color-1: #1c103a;
// --color-2: #2e2d30;
// --color-3: #f8f8f8;
// --color-4: #ffffff;
// --font-1: 'Noto Sans', sans-serif;
// --font-2: 'Merriweather', serif;
// --font-3: 'Open Sans', sans-serif;
// --font-4: 'Inter', sans-serif;
// --font-5: AndronFont;

$font-noto: 'Noto Sans', sans-serif;
$pure-white: #ffffff;

#about-text {
    font-family: 100% $font-noto;
    color: $pure-white;
}