body {
  transition: all 400ms ease-in-out;
}

nav a {
  color: var(--color-4);
}

header {
  background-color: #080808;
  color: var(--color-4);
  padding: 100px 22vw 30px 22vw;
  margin-top: -80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  transition: all 400ms ease-in-out;
}

#hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

header img {
  padding: 0px;
  width: 18%;
  transition: 0.4s all ease-in-out;
}

header img:hover {
  filter: drop-shadow(0px 0px 10px #ffffff40);
}

header h1 {
  font-family: var(--font-2);
  font-size: 32px;
}

header h2 {
  font-size: 18px;
}

header h3 {
  font-size: 14px;
}

header h2,
header h3,
header a {
  font-family: var(--font-1);
}

header #subscribe {
  cursor: pointer;
}

header input {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: var(--color-2);
  font-family: var(--font-2);
  color: var(--color-4);
  border-radius: 6px;
  width: fit-content;
  margin-top: 0px;
  transition: all 600ms ease-in-out;
  box-shadow: 0px 5px 5px #20202040;
  border: 0;
}

header label {
  font-family: var(--font-2);
  color: var(--color-2);
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: row;
  padding: 0 5vw 0 5vw;
  margin: 30px 0 50px 0;
  justify-content: space-between;
}

main h1,
main h2,
main h3 {
  font-family: var(--font-2);
}

main h1 {
  font-size: 35px;
}

main h2 {
  font-size: 28px;
}

article {
  background-color: var(--color-4);
  width: 52vw;
  border-radius: 12.5px;
  box-shadow: 0px 5px 5px #94939340;
  padding: 10px 50px 50px 50px;
  overflow-x: hidden;
}

article h2 {
  margin: 35px 0 40px 0;
}

article p,
article time {
  font-family: var(--font-5);
  font-size: 20px;
  line-height: 1.8;
}

article img,
article iframe {
  width: 100%;
  border-radius: 12.5px;
  box-shadow: 0px 5px 5px #94939340;
  margin: 30px 0 30px 0;
  transition: all 0.5s ease-in-out;
  border: 0px solid #ffffff;
}

article a {
  text-decoration: underline;
  color: #000000;
  transition: all 1s ease-in-out;
}

article a:hover {
  color: #000a63;
}

article ol,
article ul {
  font-family: var(--font-5);
}

article img:hover {
  box-shadow: 0px 5px 10px #27272799;
  filter: brightness(1) saturate(2);
}

article #date,
article #author,
article #tags {
  color: #39393b;
  font-size: 18px;
  line-height: 0.8;
}

article blockquote {
  text-align: center;
  padding: 15px 0 15px 0;
}

article ol,
article ul {
  font-size: 20px;
}

article ol li,
article ul li {
  margin: 30px 0 30px 0;
  line-height: 1.8;
}

article ul li::marker {
  content: '👉️  ';
}

article #mc_embed_signup form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
  background: linear-gradient(0.4turn, #f1f1f1, #ffffff, #f1f1f1);
  border-radius: 12px;
}

article #mc_embed_signup #subscribe {
  width: fit-content;
  margin-top: 20px;
  background-color: var(--color-2);
  color: var(--color-4);
  font-size: 20px;
  padding: 15px 25px 15px 25px;
  border-radius: 6px;
  transition: all 400ms ease-in-out;
  font-family: var(--font-2);
  cursor: pointer;
}

article input {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  background-color: #94939340;
  border: 0px solid black;
  text-align: center;
  box-shadow: 0px 2px 10px #0f0f0f00;
  font-family: var(--font-2);
}

article .google-auto-placed {
  box-shadow: 0px 0px 0px #ffffff00;
  margin-bottom: 70px;
  border-radius: 0;
}

aside {
  background-color: var(--color-4);
  width: 25vw;
  border-radius: 12.5px;
  box-shadow: 0px 5px 5px #94939340;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

aside a img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #94939340;
  transition: 300ms all ease-in-out;
}

aside a img:hover {
  filter: saturate(2);
  box-shadow: 0px 5px 5px #94939390;
}

@media screen and (max-width: 800px) {
  /* * {
        border: 1px solid black;
    } */

  header {
    padding: 20px 12vw 30px 12vw;
    margin-top: 0;
  }

  header input {
    width: 60vw;
    margin-bottom: 10px;
  }

  header #subscribe {
    width: 60vw;
  }

  main {
    flex-direction: column;
    gap: 50px;
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
  }

  article {
    max-width: fit-content;
    width: 100%;
    padding: 25px;
    margin: 0;
  }

  article p {
    font-size: 20px;
    line-height: 1.7;
  }

  aside {
    /* position: relative; */
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
