:root {
    --color-1: #1c103a;
    --color-2: #2e2d30;
    --color-3: #f8f8f8;
    --color-4: #FFFFFF;
    --font-1: "Noto Sans", sans-serif;
    --font-2: 'Merriweather', serif;
}

body {
    width: 100%;
    background-color: var(--color-3);
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
    /* background-color: var(--color-2); */
    opacity: 1;
    padding: 0 6vw 0 6vw;
    /* box-shadow: 0 0 15px #ffffff90; */
    z-index: 10;
    opacity: 1;
    backdrop-filter: blur(4px) brightness(1.2) contrast(1.2);
}

nav img {
    width: 5vw;
}

nav a {
    display: inline;
    text-decoration: none;
    color: var(--color-2);
    font-family: var(--font-1);
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 0 0 4px #FFFFFF;
}

nav a:nth-child(1) {
    margin-right: 48vw;
}

footer {
    width: 100%;
    color: var(--color-2);
    font-family: var(--font-1);
    /* background-color: var(--color-2); */
    backdrop-filter: blur(4px) brightness(1.2) contrast(1.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4vh 0vw 4vh 0vw;
    gap: 0;
    justify-content: space-evenly;
    /* box-shadow: 0 0 15px #ffffff90; */
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

footer a {
    text-decoration: none;
    color: var(--color-2);
    transition: 0.5s all ease-in-out;
}

footer p a {
    text-decoration: underline;
}

footer a:hover {
    opacity: 0.8;
}


@media screen and (max-width:800px) {

    nav {
        justify-content: center;

    }

    nav a {
        display: none;
    }

    nav a:nth-child(1) {
        display: block;
        padding: 0;
        margin: 0;
    }

    nav a:nth-child(1) img {
        width: 20vw;
        padding: 0;
        margin: 0;
    }

    footer {
        width: 100%;
        flex-direction: column-reverse;
    }

    footer p {
        width: 80%;
    }

}